
.caption {
  height:22%;
  display: flex;
  justify-content: center;
  margin-bottom: 25%;
}
.background-photo{
  width: 100%;
  height:110%;
  margin-top: -10%;
  background-image: url(../assets/slidephoto22.JPG);
  background-size:100% 100%;
  display:flex;
  justify-content: center;
}
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}


#contact {
  background: #F9F9F9;
  padding: 25px;
  margin: 150px 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#contact h3 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;

}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: rgb(0, 0, 0);
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#contact button[type="cancel"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: rgb(83, 83, 83);
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#contact button[type="cancel"]:hover {
  background: rgb(50, 38, 223);
 -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:hover {
  background: rgb(50, 38, 223);
 -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
  text-align: center;
}

#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}
.categories-head{
 width: 100%;
 text-align: center;
  margin-top: 3%;

}
.oblojka{
  width:100%;

  background-color: #A4BCD8;
}
.zayavka-title{
  font-size: 40px;
  max-width:'auto';
  margin-left: 42%;
}
.name-fields{
  font-size: 20px;
  margin-left: 0;
  margin-top: 5px;
}
.application{
  margin-top: 100px;
}
.zayavka-field{
  text-align: center;
  width: 100%;
}
.div1{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center
}
.categories{

  height:1000px;
  width: 100%;
  background-color:transparent ;
  align-items: center;
 
}


.categories-image{
  height:300px;
  width:320px;
  margin-left: 2;
  }
.categories-image1{
  height:90%;
  width:100%;

  }
.categories-title{
  margin-top: 4%;
  font-size: 24px;
  width:100%;
  font-family: 'caviar';
  text-align: center;
  color:white;
  background-color:transparent;
}
.categories-undertitle{
  background-color: #ABABAB;
  font-size: 20px;
  margin-top: -6%;
  font-family: 'caviar';
  text-align: center;
 
}
.box1{
  display: flex;
  flex-direction: column;
  margin: 3%;
  background-color: #2a2a2a;
  
  overflow: hidden;
  height:329px;
  width:300px;
  max-height: 45vh;
  min-width: 300px;
  box-shadow: 5px 8px 10px 5px #888888;
}
.box2{
  margin: 4%;
  margin-top: 150px;
  background-color: #ABABAB;
  overflow: hidden;
  height:329px;
  width:300px;
  max-height: 45vh;
  box-shadow: 0px 12px 18px -6px rgba(0,0,0,0.3);
}
.box3{
  margin: 4%;
  margin-top: 150px;
  background-color: #ABABAB;
  overflow: hidden;
  height:329px;
  width:300px;
  max-height: 45vh;
  box-shadow: 0px 12px 18px -6px rgba(0,0,0,0.3);
}
.box4{
  margin: 4%;
  margin-top: 150px;
  background-color: #ABABAB;
  overflow: hidden;
  height:329px;
  width:300px;
  max-height: 45vh;
  box-shadow: 0px 12px 18px -6px rgba(0,0,0,0.3);
}
.boxes-image{
  margin-left: 53%;
  margin-top: -15.7%;
  background-color: #ABABAB;
  overflow: hidden;
  height: 300px;
  width:403px;
  max-height: 35vh;
  box-shadow: 0px 12px 18px -6px rgba(0,0,0,0.3);
}
.body{
  background: #F0F0F0;
  height: 100%;
  box-sizing:border-box;
}
.body1{
  background: #888888;
  height: 970px;
  box-sizing:border-box;
}

.header{
  height:100%;
  background: transparent;
  width: 100%;
  box-sizing:border-box;
  margin-top: -10px;
}
.container{
  background:transparent;
  height: 50%;
  margin-top: 12%;
  width:30%
}
.h1{
  font-size: 70px;
  box-sizing:border-box;
  font-family: 'Merriweather';
  color: black;
  margin-left: 1%;
  margin-top: 0.4%;
 

}
.h1.h2{
  font-size: 70px;
  box-sizing:border-box;
  font-family: 'Merriweather';
  color: white;
  margin-left: 1%;
  margin-top: 0.4%;

}
.img{
  height:75px;
  max-width: 174px;
  
}
.icon{
  height:17px;
  padding-right: 10px;
}

.button{
border: 1px solid black;
background: transparent;
padding: 10px 20px;
min-width: 200px;
font-size:14px;
font-family: 'button';
cursor:pointer;
margin-left: 49%;
position:relative;
overflow: hidden;


}

.button1{
color:black;
}

.button1:hover{
  color:#fff;
}
.button::before{
  content:"";
  position: absolute;
  left:0;
  width: 100%;
  height:0%;
  background:black;
  z-index: -1;
  transition: 0.8s;
}
.button1::before{
  top:0;
  border-radius: 0 0 50% 50%;
}
.button1:hover::before{
  height:180%;
}

.button22{
  border: 1px solid white;
  background: transparent;
  padding: 10px 20px;
  min-width: 200px;
  font-size:14px;
  font-family: 'button';
  cursor:pointer;
  margin-left: 49%;
  position:relative;
  overflow: hidden;
 
  }
.button2{
color:white;
}

.button2:hover{
  color:black;
}
.button22::before{
  content:"";
  position: absolute;
  left:0;
  width: 100%;
  height:0%;
  background:white;
  z-index: -1;
  transition: 0.8s;
}
.button2::before{
  top:0;
  border-radius: 0 0 50% 50%;
}
.button2:hover::before{
  height:180%;
}
.App {
  font-family: sans-serif;
  text-align: center;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  will-change: opacity;
}

.navbar {
  background:transparent;
  height:10%;
  display: flex;
  position: sticky;
  flex-wrap: nowrap;
  justify-content: flex-start;
  top:0;
  box-sizing:border-box;
  z-index: 999;
}
.slideshow{
  width:100%;
  height: 100%;
  margin-top: -6.5%;
  background: yellow;

}
.slideshow1{
  width:40%;
  height: 49%;
  background:tra;
  margin-top:10%;
  margin-left: 30%;
}
.navbar.active {
  background:#F0F0F0;
  box-sizing:border-box;
}
.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  max-width: 1500px;
  background: transparent;
}
.color-overlay {
width:100%;
height:100%;
background: #000;
opacity: .7;
position:absolute;
}
.title{
  margin-left: 33;
  font-size: 70;
  color: 'black';
  font-family: 'NeutonBold';
  text-shadow: 1px 1px 1px #000;
}


@media (max-width:1860px){
  .body{
    background: #F0F0F0;
    height: 100%;
    box-sizing:border-box;
  }
  .h1{
    font-size: 60px;
    box-sizing:border-box;
    font-family: 'Merriweather';
    color: black;
    margin-left: 1%;
    margin-top: 0.4%;
   
  
  }
  .h1.h2{
    font-size:60px;
    box-sizing:border-box;
    font-family: 'Merriweather';
    color: white;
    margin-left: 1%;
    margin-top: 0.4%;
  
  }
  .img{
    height:70px;
    max-width: 174px;
    
  }
  .button{
    border: 1px solid black;
    background: transparent;
    padding: 10px 20px;
    min-width: 190px;
    font-size:13px;
    font-family: 'button';
    cursor:pointer;
    margin-left: 52%;
    position:relative;
    overflow: hidden;
    }
    .button22{
      border: 1px solid white;
      background: transparent;
      padding: 10px 20px;
      min-width: 190px;
      font-size:13px;
      font-family: 'button';
      cursor:pointer;
      margin-left: 52%;
      position:relative;
      overflow: hidden;
      }
      .icon{
        height:16px;
        padding-right: 10px;
      }
}
@media (max-width:1674px){
  .body{
    background: #F0F0F0;
    height: 100%;
    box-sizing:border-box;
  }
  .h1{
    font-size: 55px;
    box-sizing:border-box;
    font-family: 'Merriweather';
    color: black;
    margin-left: 1%;
    margin-top: 0.4%;
   
  
  }
  .h1.h2{
    font-size:55px;
    box-sizing:border-box;
    font-family: 'Merriweather';
    color: white;
    margin-left: 1%;
    margin-top: 0.4%;
  
  }
  .img{
    height:65px;
    max-width: 174px;
    
  }
  .button{
    border: 1px solid black;
    background: transparent;
    padding: 10px 20px;
    min-width: 170px;
    font-size:12px;
    font-family: 'button';
    cursor:pointer;
    margin-left: 52%;
    position:relative;
    overflow: hidden;
    }
    .button22{
      border: 1px solid white;
      background: transparent;
      padding: 10px 20px;
      min-width: 170px;
      font-size:12px;
      font-family: 'button';
      cursor:pointer;
      margin-left: 52%;
      position:relative;
      overflow: hidden;
      }
      .icon{
        height:14px;
        padding-right: 10px;
      }
  
}

@media (max-width:1580px){
  .body{
    background: #F0F0F0;
    height: 100%;
    box-sizing:border-box;
  }
  .h1{
    font-size: 50px;
    box-sizing:border-box;
    font-family: 'Merriweather';
    color: black;
    margin-left: 1%;
    margin-top: 0.4%;
   
  
  }
  .h1.h2{
    font-size:50px;
    box-sizing:border-box;
    font-family: 'Merriweather';
    color: white;
    margin-left: 1%;
    margin-top: 0.4%;
  
  }
  .img{
    height:60px;
    max-width: 174px;
    
  }
  .button{
    border: 1px solid black;
    background: transparent;
    padding: 10px 20px;
    min-width: 150px;
    font-size:11px;
    font-family: 'button';
    cursor:pointer;
    margin-left: 53%;
    position:relative;
    overflow: hidden;
    }
    .button22{
      border: 1px solid white;
      background: transparent;
      padding: 10px 20px;
      min-width: 150px;
      font-size:11px;
      font-family: 'button';
      cursor:pointer;
      margin-left: 53%;
      position:relative;
      overflow: hidden;
      }
      .icon{
        height:12.5px;
        padding-right: 10px;
      }
}

@media (max-width:1490px){
  .body{
    background: #F0F0F0;
    height: 100%;
    box-sizing:border-box;
  }
  .h1{
    font-size: 45px;
    box-sizing:border-box;
    font-family: 'Merriweather';
    color: black;
    margin-left: 1%;
    margin-top: 0.4%;
   
  
  }
  .h1.h2{
    font-size:45px;
    box-sizing:border-box;
    font-family: 'Merriweather';
    color: white;
    margin-left: 1%;
    margin-top: 0.4%;
  
  }
  .img{
    height:55px;
    max-width: 174px;
  }
  .button{
    border: 1px solid black;
    background: transparent;
    padding: 10px 20px;
    min-width: 110px;
    font-size:10px;
    font-family: 'button';
    cursor:pointer;
    margin-left: 53%;
    position:relative;
    overflow: hidden;
    }
    .button22{
      border: 1px solid white;
      background: transparent;
      padding: 10px 20px;
      min-width: 110px;
      font-size:10px;
      font-family: 'button';
      cursor:pointer;
      margin-left: 53%;
      position:relative;
      overflow: hidden;
      }
      .icon{
        height:12.5px;
        padding-right: 10px;
      }
  

}


@media (max-width:1393px){
  .body{
    background: #F0F0F0;
    height: 100%;
    box-sizing:border-box;
  }
  .h1{
    font-size: 40px;
    box-sizing:border-box;
    font-family: 'Merriweather';
    color: black;
    margin-left: 1%;
    margin-top: 0.4%;
   
  
  }
  .h1.h2{
    font-size:40px;
    box-sizing:border-box;
    font-family: 'Merriweather';
    color: white;
    margin-left: 1%;
    margin-top: 0.4%;
  
  }
  .img{
    height:50px;
    max-width: 174px;
    
  }
  .button{
    border: 1px solid black;
    background: transparent;
    padding: 10px 20px;
    min-width: 100px;
    font-size:10px;
    font-family: 'button';
    cursor:pointer;
    margin-left: 53%;
    position:relative;
    overflow: hidden;
    }
    .button22{
      border: 1px solid white;
      background: transparent;
      padding: 10px 20px;
      min-width: 100px;
      font-size:10px;
      font-family: 'button';
      cursor:pointer;
      margin-left: 53%;
      position:relative;
      overflow: hidden;
      }
      .icon{
        height:12.5px;
        padding-right: 10px;
      }
  
}


@media (max-width:1298px){
  .body{
    background: #F0F0F0;
    height: 100%;
    box-sizing:border-box;
  }
  .h1{
    font-size: 35px;
    box-sizing:border-box;
    font-family: 'Merriweather';
    color: black;
    margin-left: 1%;
    margin-top: 0.4%;
   
  
  }
  .h1.h2{
    font-size:35px;
    box-sizing:border-box;
    font-family: 'Merriweather';
    color: white;
    margin-left: 1%;
    margin-top: 0.4%;
  
  }
  .img{
    height:45px;
    max-width: 174px;
    
  }
  .button{
    border: 1px solid black;
    background: transparent;
    padding: 10px 20px;
    min-width: 100px;
    font-size:10px;
    font-family: 'button';
    cursor:pointer;
    margin-left: 55%;
    position:relative;
    overflow: hidden;
    }
    .button22{
      border: 1px solid white;
      background: transparent;
      padding: 10px 20px;
      min-width: 100px;
      font-size:10px;
      font-family: 'button';
      cursor:pointer;
      margin-left: 55%;
      position:relative;
      overflow: hidden;
      }
      .icon{
        height:11.5px;
        padding-right: 10px;
      }
  
}
@media (max-width:1205px){
  .body{
    background: #F0F0F0;
    height: 100%;
    box-sizing:border-box;
  }
  .h1{
    font-size: 30px;
    box-sizing:border-box;
    font-family: 'Merriweather';
    color: black;
    margin-left: 1%;
    margin-top: 0.4%;
   
  
  }
  .h1.h2{
    font-size:30px;
    box-sizing:border-box;
    font-family: 'Merriweather';
    color: white;
    margin-left: 1%;
    margin-top: 0.4%;
  
  }
  .img{
    height:40px;
    max-width: 174px;
    
  }
  .button{
    border: 1px solid black;
    background: transparent;
    padding: 10px 20px;
    max-width: 140px;
    font-size:8px;
    font-family: 'button';
    cursor:pointer;
    margin-left: 58%;
    position:relative;
    overflow: hidden;
    }
    .button22{
      border: 1px solid white;
      background: transparent;
      padding: 10px 20px;
      max-width: 140px;
      font-size:8px;
      font-family: 'button';
      cursor:pointer;
      margin-left: 58%;
      position:relative;
      overflow: hidden;
      }
      .icon{
        height:11.5px;
        padding-right: 10px;
      }
}
